/** IMPORT ORDER
* It's important that this order remains unchanged.
* However the partials inside the Fonts / Layout / Components can be changed.
*/

// Tools
@import "tools/variables";
@import "tools/functions";
@import "tools/mixins";
@import "tools/site-settings";
@import "tools/media-queries";
@import "tools/utility-classes";

// Base
@import "base/sanitize";
@import "base/typography/modular-scale";
@import "base/typography/responsive-modular-scale";
@import "base/base";

.modal-wrapper {
	position: absolute;
}

.modal-wrapper--infos {
	bottom: 1rem;
	left: 1rem;
}

.modal-wrapper--credits {
	bottom: 1rem;
	right: 1rem;
}

.modal {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 20rem;
	height: 25rem;
	padding: 1rem;
	background-color: white;
	transform: translateY(-1rem) scale(0);
}

.toggle-infos {
	padding: 7px;
	background-color: white;
	height: 3rem;
	border-radius: $form-height;
	padding: $form-padding 1rem;
	color: $color-red;
	@include box-shadow;
}

form {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	height: $form-height;
	border-radius: $form-height;
	padding: $form-padding;
	@include box-shadow;

	input {
		padding-left: .5rem;
		height: 100%;
		// width: calc(100% - #{$form-submit-width});
		flex: 1;
		outline: none;
		color: $color-red;

		@include placeholder() {
			color: rgba($color-red, .5);
		}

		&:valid + button {
			color: white;
			pointer-events: auto;
		}
	}

	button {
		width: $form-submit-width;
		background-color: $color-red;
		color: rgba(white, .7);
		border-radius: calc(#{$form-height} - 2 * #{$form-padding});
		padding: $form-padding 1rem;
		@include transition;
		pointer-events: none;
	}

	input,
	button {
		display: none;
		transform: scale(0);
	}

	.form__text {
		line-height: calc(#{$form-height} - 2 * #{$form-padding});
		color: $color-red;
		text-align: center;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.form__text--start {
		cursor: pointer;
	}
	
	.form__text--end {
		display: none;
		transform: scale(0);
	}
}