 // ----------------------
 // == Utility Classes
 // ----------------------
 
.u-no-scroll {
  overflow: hidden;
}

.u-hide {
  display: none !important;
  visibility: hidden !important;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-italic {
  font-style: italic;
}

.u-text-left-align {
  text-align: left;
}

.u-text-centered {
  text-align: center;
}

.u-text-right-align {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}

.u-text-red {
  color: $red;
}

.u-text-blue {
  color: $blue;
}

.u-text-yellow {
  color: $yellow;
}

.u-text-green {
  color: $green;
}

.u-text-orange {
  color: $orange;
}

// This class aims to show list bullets wo that list doesn't touch the edge of the screen
.u-list-default {
  margin-left: 1rem;
}

.u-list-reset {
  list-style: none;
  padding-left: 0;
}

// This class adds a coma at every li except the ast one.
.u-coma-sep-items  > li:not(:last-child):after { content: ','; }
