// ----------------------
// == Variables / General
// ----------------------

/// ---------------------
/// FORM
/// ---------------------
$form-height: 3rem !default;
$form-padding: 4px !default;
$form-submit-width: 5rem !default;